/* General */

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    border: 0;
    background-color: rgb(236, 240, 241);
}

/* Navigation */

header {
    flex-shrink: 0;
}

.navbar-custom {
    background-color: rgb(192, 57, 43)
}
      
.navbar-custom .navbar-nav .nav-link {
    color: goldenrod;
}
 
.navbar-toggler, 
.navbar-custom .navbar-brand {
    color: goldenrod;
    font-weight: bold;
    margin-right: 15px;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: darkgoldenrod;
}

/* Main content */

.container {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

h1 {
    color: rgb(236, 240, 241);
    font-size: 35px;
    font-weight: bold;
    padding-top: 15px;
}

h2 {
    color: rgb(52, 73, 94);
    font-weight: bold;
    padding-bottom: 15px;
    padding-left: 15px;
    margin-bottom: 0px;
}

.special {
    padding-bottom: 5px;
}

img {
    width: 60%;
    height: auto;
    margin: 30px 0px; 
    border-radius: 25px;
}

a {
    text-decoration-line: none;
    text-align: center;
}

a:hover {
    text-decoration-line: underline;
    color: rgb(236, 240, 241);
}

p {
    padding-left: 25px;
    padding-top: 10px;
    margin-bottom: 10px;
}

p.role {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.text-in-box {
    padding-right: 25px;
}

/* Grid */

.row {
    width: 90%; 
}

.row-in-col {
    margin-left: 15px;
    background-color: rgb(52, 73, 94);
    color: rgb(236, 240, 241);
    border-radius: 15px;
}

#row-in-col {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

#row-in-col-2 {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.row-in-col-2 {
    margin-left: 15px;
}

.portfolio-row {
    display: flex;
    flex-direction: row;
}

.col-md-3 {
    background-color: rgb(52, 73, 94);
    padding: 15px 5px;
    text-align: center;
}

.col-md-8 {
    padding: 0;
    margin-left: 15px;
}

.full-width-div {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 15px 0px;
}

/* Accordion styling */

.accordion {
    width: 90%;
    margin-left: 15px;
}

.accordion2 {
    width: 300px;
    margin-left: 15px;
}
.card-header {
    height: 40px;
    padding: 0;
    background-color: rgb(52, 73, 94);
}

.card-body, .list-group-item {
    background-color: rgb(236, 240, 241);
}

.btn-link {
    color: rgb(236, 240, 241);
}

.btn-link:hover {
    text-decoration-line: underline; 
    color: rgb(236, 240, 241);
}

ol {
    padding-bottom: 15px;
    margin-bottom: 0px;
}

.list-group-item {
    border: 0;
    padding: 5px;
}

/* Footer styling */

footer {
    flex-shrink: 0;
    background-color: rgb(192, 57, 43)
}

#copyright, .copyright {
    color: goldenrod;
    font-size: 15px;
    text-align: center;
    padding-bottom: 10px;
}

/* Portfolio page styling */

figure {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
}

figcaption {
    text-decoration: none;
    color: rgb(236, 240, 241);
    padding-bottom: 20px;
}