body {
    margin: 0;
    border: 0;
    height: 100%;
}

.navbar-custom {
    background-color: firebrick;
}
      
.navbar-custom .navbar-nav .nav-link {
    color: goldenrod;
}
 
.navbar-toggler, 
.navbar-custom .navbar-brand {
    color: goldenrod;
    font-weight: bold;
    margin-right: 15px;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: darkgoldenrod;
}

.container {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.row {
    width: 90%; 
}

.row-in-col {
    margin-left: 15px;
    padding-right: 25px;
    background-color: lightslategray;
    color: white;
}

.row-in-col-2 {
    margin-left: 15px;
}

p {
    padding-left: 25px;
    padding-top: 10px;
    margin-bottom: 10px;
}

p.role {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

ol {
    padding-bottom: 15px;
    margin-bottom: 0px;
}

.accordion {
    width: 90%;
    margin-left: 15px;
}

.accordion2 {
    width: 300px;
    margin-left: 15px;
}

.col-md-3 {
    background-color: lightslategray;
    padding: 15px 5px;
    text-align: center;
}

.col-md-8 {
    padding: 0;
    margin-left: 15px;
}

.col-md-6 {
    display: flex;
    justify-content: center;
}

.full-width-div {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 15px 0px;
}

h1 {
    color: white;
    font-size: 35px;
    font-weight: bold;
    padding-top: 15px;
}

h2 {
    color: lightslategray;
    font-weight: bold;
    padding-bottom: 15px;
    padding-left: 15px;
    margin-bottom: 0px;
}

.special {
    padding-bottom: 5px;
}

.card-header {
    height: 40px;
    padding: 0;
    background-color: lightslategray;
}

.btn-link {
    color: white;
}

.list-group-item {
    border: 0;
    padding: 5px;
}

a {
    text-decoration-line: none;
    text-align: center;
}

footer {
    flex-shrink: 0;
    background-color: firebrick;
}

#copyright {
    color: goldenrod;
    font-size: 15px;
    text-align: center;
    padding-bottom: 10px;
}

img {
    width: 60%;
    height: auto;
    margin: 30px 0px; 
}

.project {
    width: 100%;
    height: auto;
}

.caption {
    text-decoration: none;
    color: white;
}