/* Accordion cards */
div.accordion {
    width: 90%;  
    margin-left: 15px;
}
div.accordion#contacts {
    width: 350px;
}
div.accordion2 .card-body {
    padding: 20px;
}
div.card {
    border-radius: 15px;
}

div.card-header {
    height: 40px;
    padding: 0;
    background-color: rgb(52, 73, 94);
}
div.card > div.collapse {
    background-color: rgb(236, 240, 241);
    padding-top: 5px;
    padding-bottom: 5px;
}
/* Accordion cards - lists, links and buttons */
div.card > div.collapse a {
    color: darkslategray;
}
div.card > div.collapse a:hover {
    color: black;
}
div.card-header h2 {
    color: rgb(236, 240, 241);
    font-size: 1rem;
    padding: .5rem 1.5rem;
}
div.card-header:hover {
    text-decoration-line: underline; 
    color: rgb(236, 240, 241);
}
div.list-group {

}
div.list-group-item {
    border: 0;
    background-color: rgb(236, 240, 241);
}