/* Header and Navigation */
header {
    flex-shrink: 0;
}
#menu {
    background-color: rgba(192, 57, 43)
}
#basic-navbar-nav {
    margin-left: 120px;
}
.navbar-nav {
    height: 50px;
}
#basic-nav-dropdown, 
#menu .nav-link {
    color: rgb(253, 186, 17);
    width: 110px;
    height: 50px;
    padding-top: 10px;
}
#menu .navbar-brand {
    font-weight: bold;
    margin: 0 15 0px;
    padding: 0;
    height: 50px;
    width: 50px;
    color: rgb(253,186,17)

}
#nav-brand {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0;
    margin-right: 10px;
    padding: 0;
}
#nav-brand:hover {
    width: 45px;
    height: 45px;
}
div.navbar-nav:hover {
    margin-top: 0;
    margin-bottom: 0;
}
#menu .dropdown:hover, 
#contact-info:hover {
    font-size: 20px;
    font-weight: bold;
}

#lang-choice {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}
#menu a.lang-choice {
    margin: 0;
    padding-top: 10px;
    width: 60px;
}
.flag-icon {
    border-radius: 0;
    margin: 0;
    width: 24px;
}
.flag-icon:hover {
    width: 35px;
}