/* Tables */
table tr {
    height: 50px;
    border-width: 1px;
    border-bottom-style: solid;
    color: whitesmoke;
}
tr.last {border-bottom-width: 0;}
th {padding-right: 15px;}
td {padding: 10px 0;}
td.first {padding-top: 0;}
td.last {padding-bottom: 0;}